.root {

    -fx-background-color: #f7e9c0;
    -fx-background-image: url('file:resources/Images/grass7.jpg');
    -fx-background-size: cover;
}

Button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(#00FFFF, #66ff99);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: linear-gradient(#00b2b2, #4eb86a);
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
ToggleButton{
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(#b1813c, #f0ee8a);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
MenuButton{
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(	#2E8B57, 	#98FB98);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#tg_mute {
    -fx-background-image: url('file:resources/Images/volume-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: linear-gradient(#00FFFF, #66ff99);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#tg_mute:hover {
    -fx-background-image: url('file:resources/Images/volume-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-background-color: linear-gradient(#00cbcb, #53d481);

}

#tg_mute:selected {
    -fx-background-image: url('file:resources/Images/mute-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-background-color: linear-gradient(#00b2b2, #4eb86a);

}
#btn_yes{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: linear-gradient(#69eaf3, #5f82e3);
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#btn_no{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: linear-gradient(#ff6161, #f99100);
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
#btn_yes:hover{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: linear-gradient(#57b9c2, #44559b);



    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#btn_no:hover{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: linear-gradient(#a63e3e, #bc6c00);
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;



}
