.root{

        -fx-background-color:#f7e9c0;
    -fx-background-image : url('file:resources/Images/3bros.png');

}/*
#AnchorPane{
    -fx-background-image: url("file:resources/Images/Roundbale1.jpg");
    -fx-background-repeat: stretch;
    -fx-background-oldSize: 400 250;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
/*
body{
    -fx-background-image: url( "C:\Users\YAARA\Desktop\ATP-Project-PartC\resources\Images\Roundbale1.jpg");
}*/

Button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(#00FFFF, #66ff99);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
ToggleButton{
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(#b1813c, #f0ee8a);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
MenuButton{
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(	#2E8B57, 	#98FB98);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#btn_easy {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(	#ffe184, #ffc3c5);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#btn_easy:hover {

    -fx-background-color: linear-gradient(	 	#9ACD32,#2E8B57);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#btn_easy:selected {

    -fx-background-color: linear-gradient(#9ACD32,#2E8B57);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

}

#btn_medium {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(	#ffe184, #ffc3c5);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#btn_medium:hover {

    -fx-background-color: linear-gradient(#ff741b, #af5353);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#btn_medium:selected {

    -fx-background-color: linear-gradient(	#ff741b, #af5353);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

}

#btn_hard {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(	#ffe184, #ffc3c5);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#btn_hard:hover {

    -fx-background-color: linear-gradient(#FF4500,#4d0000);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#btn_hard:selected {

    -fx-background-color: linear-gradient(#FF4500,#4d0000);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}


#btn_start {
    -fx-background-image: url('file:resources/Images/56-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:right ;


    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-background-color: linear-gradient(#00FFFF, #33d6ff);
    -fx-alignment: center-left;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}
#btn_start:hover {
    -fx-background-image: url('file:resources/Images/56-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:right;
    -fx-background-color: linear-gradient(#00FFFF,#4d4dff);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: center-left;
    -fx-content-display: LEFT;
}

#btn_start:selected {
    -fx-background-image: url('file:resources/Images/56-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:right;
    -fx-background-color: linear-gradient(#00FFFF,#4d4dff);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: center-left;
    -fx-content-display: LEFT;
}
#btn_music {
    -fx-background-image: url('file:resources/Images/volume-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: linear-gradient(#c653c6, #8B008B);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#btn_music:hover {
    -fx-background-image: url('file:resources/Images/mute-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: linear-gradient(#c653c6, #FFE4E1);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#btn_music:selected {
    -fx-background-image: url('file:resources/Images/mute-512.png');
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: linear-gradient(#c653c6, #FFE4E1);
//-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 200px, 200px, 200px, 200px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
